@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    // font-family: Helvetica Neue, Arial,Helvetica,sans-serif;
    text-align: left;
    
}

* {
 margin: 0;
 padding: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
