/*** COLOR VARIABLES ***/

$gray:          #dcdfe3;
$dark-blue:     #193345;
$med-blue:      #0079bf;
$light-gray:    #eff1f2;
$slate-gray:    #70848f;
$dark-gray:     #ccd2d7;
$menu-gray:     #e8ecee;
$light-green:   #5aac44;
$green:         #66a14f;
$dark-green:    #3f6f21;
$red:           #e65143;

/*** TEST VARIABLES ***/
$primary-color: $gray;
$test-color: $green;

/*** SPACING ****/
$menu-vertical: 12px;
$menu-horizontal: 12px;
$icon-column: 12px;

$white:         #fff;
$med-gray:      #6b808c;
$med-gray2:    #b3c2cc;

/*** SIZES ***/
$standard-text: 1.4rem;
$card-width: 270px; 

/*** BUTTONS ***/
.btn {
    padding: $menu-horizontal $menu-vertical;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.btn--submit {
    background-color: $green;
    color: #fff;
}

