.SingleDatePickerInput__withBorder {
  border: none;
  color: #193345;
}

div.SingleDatePicker.SingleDatePicker_1 {
  background-color: transparent;
  color: #193345;
}
.SingleDatePickerInput {
  background-color: transparent;
  color: #193345;
}


.SingleDatePicker.SingleDatePicker_1 {
  color: #193345;
  width: 95%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.DateInput_input {
  font-weight: 200;
  font-size: 19px;
  line-height: 24px;
  color: #193345;
  background-color: #fff;
  width: 100%;
  padding: 11px 11px 9px;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-radius: 0
}


.DateInput.DateInput_1 {
    border: none;
    border-radius: 0;
    background: none;
    width: 100%;
    color: #193345;
    font-weight: bold;
}
.DateInput_input::placeholder { 
  color: #193345; 
}

.DateInput_input {
    font-family: 'Open Sans', sans-serif;
    color: #193345;
    font-weight: bold;
    background: #dcdfe3;
    text-align: left;
    padding: 6px 12px 6px 36px;
    margin: 0px 0px;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 14px;
    width: 100%;
  }

  .DateInput_input:hover {
      background: #ccd2d7;
  }

