.board-menu {
    position: absolute;
    top: 5rem;
    background-color: $white;
    border-radius: .3rem;
    width: 30rem;
    height: 18rem;
    padding: 0 12px 12px 12px;
    color: $med-gray;
    z-index: 5;
    

    &--header {
        border-bottom: 1px solid $gray;
        padding: 1.2rem 0;
        
    }

    &--title {
        text-align: center;
        display: block;
        font-weight: 400;
        width: 100%;
        font-size: 1.4rem;
    }

    &--x {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        border: none;
        color: $med-gray;
        background-color: transparent;
        font-size: 1.5rem;

        &:hover {
            color: $dark-blue;
        }
    }

    &--input {
        width: 100%;
        height: 2rem;
        padding: 1.5rem .8rem;
        font-family: "Open Sans", sans-serif;
        
        font-size: 14px;
        color: #17394d;
        background-color: #ebeef071;
        border: 2px solid #dfe3e6;
        border-radius: .3rem;
        margin: 0rem 0rem 2rem 0rem;

        &:hover {
            background-color: #ebeef0;
        }

        &:focus {
            border: 2px solid #0079bf;
            outline: none;
          }
    }

}

.menu-btn {
    display: block;
    
}

label {
    font-size: 14px;
    font-weight: 600;
    color: $dark-blue;
    margin: 1rem 0;
    display: block;
}

.button-green {
    background-color: $light-green;
    color: white;
    width: 7rem;
    height: 3.1rem;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .5rem;
    border: none;
    box-shadow: 0 1px 0 $dark-green;

    &:hover {
        background-color: $green;
    }
}

form {
    // padding: 1.2rem 0;
    padding: 0;
}


