.card-list {
  list-style: none;
  // border: solid 1px red;
  padding: 0px 8px 0px 8px;
  min-height: 10px;
}
.card {
  background: $white;
  color: $dark-blue;
  font-size: 14px;
  padding: 8px 5px;
  border-radius: 3px;
  margin-bottom: 8px;
  box-shadow: 0 1px 0 $med-gray2;
}
.card:hover {
  background: $light-gray;
  cursor: pointer;
}

.btn--delete-card {
  color: black;
  float: right;
}