.list {
  border-radius: 3px;
  background: $gray;
  width: 250px;
  margin: 8px;
}

.list--title {
  position: relative;
}

.list--title h3 {
  color: $dark-blue;
  font-size: 18px;
  margin: 8px;
  cursor: pointer;
  display: inline-block;
  width: 80%;
}
.open-list-menu-btn {
  display: inline-block;
  background: none;
  text-align: right;
  border: 0;
  color: $slate-gray;
}

// LIST MENU
.list-menu {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 85%;
  width: 100%;
  border: solid 1px $light-gray;
  border-radius: 4px;
  overflow: hidden;
  &__header {
    display: flex;
    padding: 10px 15px;
    margin: 0 10px 5px;
    border-bottom: solid 1px $light-gray;
    &-title {
      margin: auto;
      font-size: 15px;
      color: $slate-gray;
    }
    &-close-btn {
      background: none;
      border: 0;
      color: $slate-gray;
      outline: 0;
    }
  }
}

.action-list__btn {
  background: none;
  border: 0;
  padding: 10px;
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 600;
  color: $dark-blue;
  &:hover {
    background: #298fca;
    color: #fff;
  }
}

.list form {
  padding: 4px 8px 5px;
}
.list form input {
  width: 100%;
  padding: 7px 5px;
  // margin: 0 8px;
  border: solid 2px $gray;
  border-radius: 3px;
}

.list form button {
  background: $dark-green;
  color: $white;
  border: none;
  padding: 8px 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
}

.add-list-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  outline: none;
}
.add-list-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.add-card-btn {
  font-size: 15px;
  padding: 5px 8px;
  color: $slate-gray;
  cursor: pointer;
}
.add-card-btn:hover {
  background: $dark-gray;
}
.add-card-btn:hover span {
  text-decoration: underline !important;
}
