.fa-dragon {
    padding: .6rem;
}

.trello-nav--title{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    padding: .2rem 0;
    margin: 0;
    text-align: center;
}

.trello-nav {
    background: rgba(0,0,0,.35);
    padding: .4rem;
    position: fixed;
    margin: 0;
    width: 100%;
}
