/*** CHECKLIST ***/

.checklist {
    width: 100%;
    margin: 6px 0 4px -8px;
}

.checklist-content {
/*** TEMP SETTING FOR TESTING/DEV PURPOSES***/
    // background-color: $gray;
    // margin: 10px 0 10px 18px;
    // width: 93%;
    // border-radius: 5px;
}

.checklist__heading {
    
    display: flex;
    justify-content: space-between;
    // margin: 5px 8px;
    width: 100%;
    padding: 8px 0 0 0;

    .btn--checklist-delete {
        margin-left: 0;
        float: right;
        font-size: 13px;
    }
    .btn--checklist-edit {
        margin-left: auto;
        font-size: 13px;
        padding: 0;
    }
    form input {
        height: 25px;
        padding: 0;
        margin: 0;
    }
}

.checklist__title {
    // font-size: $standard-text;
    font-size: 18px;
    // padding-left: 8px;
    margin: 3px 0;
}

.checklist__items {
    list-style: none;
    margin-left: -8px;
    padding: 0;
    text-align: left;
}

.checklist__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0 5px 0px;
    padding: 3px 0 1px 0px;
}

.checklist__complete {
    border: 1px solid $slate-gray;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 20px;
}

.checklist__name {
    font-size: $standard-text;
    display: inline-block;
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
}

.add-new-checkList {
    width: 91%;
    margin-left: 13px;

    input {
        height: 30px;
    }
    button {
        height: 32px;
        margin-left: 35px;
    }
}

.add-new-checkList__placeholder {
    // font-size: $standard-text;
    font-size: 12px;
    margin: $menu-horizontal;
    cursor: pointer;
    margin-left: 40px;
}

.progress-bar {
    width: 89%;
    margin: 10px 0 10px 35px;
    padding-left: 4px;
    text-align: center;
    font-weight: bold;
}

.progress-bar__inner {
    width: 0%;
    background-color:$light-green;
    transition: 0.5s all;
    border-radius: 10px;
}

.btn--checklist {

    &-delete {
        margin: 0 5px 0 auto;
        color: $slate-gray;
        font-size: 10px;
    }
    &-edit {
        color: $slate-gray;
        font-size: 10px;
    }
}