/*** CHECKLIST ***/

.checklist {
    width: 100%;
    margin: 6px 0 4px -8px;
}

.checklist-content {
/*** TEMP SETTING FOR TESTING/DEV PURPOSES***/
    // background-color: $gray;
    // margin: 10px 0 10px 18px;
    // width: 93%;
    // border-radius: 5px;
}

.checklist__heading {
    
    display: flex;
    justify-content: space-between;
    // margin: 5px 8px;
    width: 100%;
    padding: 8px 0 0 0;

    .btn--checklist-delete {
        margin-left: 0;
        float: right;
        
    }

   

    .btn--checklist-edit {
        margin-left: auto;
    }

    .btn--checklist-edit, .btn--checklist-delete {
        font-weight: 400;
        text-decoration: underline;
        font-size: 14px;
        background: transparent;
        &:hover {
            background-color: rgba(0, 0, 0, 0);
            color: $dark-blue;
        }
    }


    form input {
        height: 25px;
        padding: 0;
        margin-left: 35px;
        display: block;
        width: 100%;
        font-family: "Open Sans", sans-serif;
    }
}

.btn--checklist-delete {
    margin-left: 0;
    float: right;
    background: transparent;
    border: 0px;
    border-radius: .3rem;
    // background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 1rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.064);
    }
}

.checklist__title {
    // font-size: $standard-text;
    // font-size: 14px;
    // padding-left: 8px;
    margin: 3px 0;
}

.checklist__items {
    list-style: none;
    margin-left: -12px;
    padding: 0;
    text-align: left;
}

.checklist__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    // width: 100%;
    margin-left: 20px;
    padding: 0px 0 0px 4px;

    &:hover {
        background-color: #70848f30;
        margin-left: 2rem;
        border-radius: 3px;
    }
}

.checklist__complete {
    border: 1px solid $slate-gray;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0px;
}

.checklist__name {
    font-size: $standard-text;
    display: inline-block;
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
}

.add-new-checkList {
    width: 91%;
    margin-left: 3.5rem;

    input {
        // height: 5.5rem;
        line-height: 2rem;
        font-family: "Open Sans", sans-serif;

    }
    button {
        height: 32px;
    }
}

.add-new-checkList__placeholder {
    // font-size: $standard-text;
    font-size: 14px;
    margin: $menu-horizontal;
    cursor: pointer;
    margin-left: 40px;
    color: $slate-gray;
}


.progress-bar {
    // width: 93%;
    
    margin: 10px 0 10px 35px;
    // padding-left: 4px;
    // text-align: center;
    font-weight: bold;
    background-color: #70848f2a;
    border-radius: 10px;

    &__inner {
        
        width: 0%;
        background-color: #5ba4cf;
        transition: 0.5s all;
        border-radius: 10px;

        .progress-percent-display{
            padding-left: 8px;
            color: white;
            font-weight: 400;

        }
        
    }
}




.btn--checklist {

    &-delete {
        margin: 0 5px 0 auto;
        color: $slate-gray;
        font-size: 10px;
    }
    &-edit {
        color: $slate-gray;
        font-size: 10px;
    }
}